<web-app id="WebApp_9" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

	<display-name>TUS Upload Servlet</display-name>

	<filter>
		<filter-name>MethodOverrideFilter</filter-name>
		<filter-class>org.tus.filter.methodoverride.HttpMethodOverrideFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MethodOverrideFilter</filter-name>
		<servlet-name>upload</servlet-name>
	</filter-mapping>

	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class> org.tus.servlet.upload.Upload </servlet-class>
		<init-param>
			<param-name>uploadFolder</param-name>
			<param-value>/tmp</param-value>
		</init-param>
		<init-param>
			<param-name>maxFileSize</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>maxStorage</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/files/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>

</web-app>
